@import 'normalize'
@import 'reset'

canvas
    display: block

.popup-wrapper
    position: relative

    &_active
        .popup
            opacity: 1
            visibility: visible
            transition: all 0.3s

.popup
    position: absolute
    top: 0
    left: 0
    border: 2px solid #b7d781
    border-radius: 8px
    padding: 12px
    background-color: #14194b
    opacity: 0
    visibility: hidden
    transition: all 0.3s
    width: 200px
    line-height: 120%
    color: #fff
    font-family: sans-serif

    img
        display: block
        width: 100%
        height: auto
        object-fit: cover
        margin-top: 12px


